---
title: Flower Shop
layout: shop
---
<div class="shop">

  <p>
    Living & growing with art is an incredibly enriching experience that should be accessible to anyone. I've made these more affordable pieces small enough that they can easily be installed in a living space. They are priced between $40-$500 (with most under $100).
  </p>
  <p>
    Thank you for browsing & investing in my practice!
  </p>

  {% assign groups = site.products | group_by: "category" | sort: "name" %}

  {% for group in groups %}
    <div class="product-group" id="{{ group.name }}">
      <h1 class="mb-1em"> {{ group.name | slice: 2,100000 }}</h1>
      <div class="product-grid-wrapper">
        {% for item in group.items %}
          <a href="{{ item.url }}" class="product-grid {% if item.sold %} sold {% endif %} ">
            <img src="{{ item.image }}" alt="{{ item.name }} product image" class="product__image">
          </a>
        {%endfor%}
      </div>
    </div>
  {%endfor%}

  {% include category.html %}

</div>