<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      Nicki Cherry
    </a>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <a role="button" class="navbar-item mobile-work">
      Work
    </a>
    <a href="/cv" class="navbar-item">
      CV
    </a>
    <a href="/info" class="navbar-item">
      Info
    </a>
    <a href="http://instagram.com/nicki__cherry/" class="navbar-item" target="_blank" rel="noopener noreferrer">
      Instagram
    </a>
    <!--
    <a href="/flower-shop" class="navbar-item">
      Flower shop
    </a>
    -->
  </div>
</nav>