<div class="column work-sidebar is-one-fifth">
  <section class="section">
    <a class="close"> X </a>
    <div class="work-nav-container">
      <div class="container work-nav">
        <h2>
          🌷
        </h2>
        <h3 class="date">2021</h3>
        <a href="/work/speaking-with-lions">Speaking with Lions</a>
        <!-- <a href="/work/look-at-her-tears">Look at her tears, they have been poured into a leg</a> -->
        <a href="/work/lubbert-as-muse">Lubbert as muse</a>

        <h3 class="date">2020</h3>
        <a href="/work/ceramic-fragments">Ceramic fragments</a>
        <a href="/work/out-of-the-mouth">Out of the mouth, into the calf</a>

        <h3 class="date">2019</h3>
        <a href="/work/cutting-the-stone">Cutting the stone</a>
        <a href="/work/tepal">Tepal</a>

        <h3 class="date">2018</h3>
        <a href="/work/fountain">Fountain</a>
        <a href="/work/gameboard">Gameboard</a>
        <a href="/work/cortices">Cortices</a>
        <a href="/work/meeting-stasis-halfway">Meeting stasis halfway</a>

        <h3 class="date">2017</h3>
        <a href="/work/well-im-a-tumbler">Well I'm a Tumbler</a>
        <a href="/work/assessing-my-shape">Assesing my shape: tying a shoe</a>
        <a href="/work/aspirational-prosthetics">Aspirational prosthetics</a>
      </div>
    </div>
  </section>
</div>