<div class="column work-sidebar is-one-fifth">
  <section class="section">
    <a class="close"> X </a>
    <div class="work-nav-container">
      <div class="container work-nav">
        <h2>
          🌷
        </h2>
        <div class="nav-accordion">
          <h3 class="date">Recent work</h3>
          <div>
            <a href="/work/Lithophyte">Lithophyte</a>
            <a href="/work/speaking-with-lions">Speaking with Lions</a>
            <a href="/work/coping-mechanism">Coping Mechanism (vessel for spilt milk)</a>
            <a href="/work/cutting-the-stone">Cutting the Stone</a>
            <a href="/work/lubbert-as-muse">Lubbert as muse</a>
            <a href="/work/fountain">Fountain</a>
            <a href="/work/tepal">Tepal</a>
          </div>

          <h3 class="date">Archive</h3>
          <div>
            <a href="/work/ceramic-fragments">Ceramic fragments</a>
            <a href="/work/gameboard">Gameboard</a>
            <a href="/work/cortices">Cortices</a>
            <a href="/work/meeting-stasis-halfway">Meeting stasis halfway</a>
            <a href="/work/well-im-a-tumbler">Well I'm a Tumbler</a>
            <a href="/work/assessing-my-shape">Assesing my shape: tying a shoe</a>
            <a href="/work/aspirational-prosthetics">Aspirational prosthetics</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>