html{
  scroll-behavior: smooth;
  background-color: #fff;
}

body{
  font-family: 'EB Garamond', serif;
  font-size: 16px;
  line-height: 1.3;
  color: #202228;
}

a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a,
a.navbar-item{
 color: #3f707d;
 transition: all 0.1s;
}

a:hover,
a.navbar-item:hover{
  color: #3f707d;
  text-decoration: underline;
}

a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active{
  background: none;
}


.tulip-bg{
  background-image: url(../img/lithophyte-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 55% center;
  min-height: 100vh;
}

.white-bg{
  background-color: #fff;
}

.tulip-bg + .white-bg{
  z-index: 100;
}

.navbar{
  position: fixed;
  top: 0;
  right: 0;
  left: auto;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fff;
}

.navbar-menu{
  background-color: #E9F0F2;
}

.navbar.home{
  background-color: unset;
  z-index: 1000;
}
.navbar-brand .navbar-item{
  font-weight: 700;
  font-style: normal;
  color: #202228;
  font-size: 1.1rem;
}

.navbar-brand .navbar-item:hover{
  color: unset;
  font-style: italic;
}

.navbar-menu{
  justify-content: flex-start;
}

.navbar-menu.is-active{
  box-shadow: none;
  padding: 0;
}

.navbar-menu .navbar-item{
  font-size: 1rem;
  font-weight: 500;
}

.mobile-work{
  font-size: 1rem !important;
  font-weight: 400 !important;
  display: none !important;
}

.mobile-work.home{
  font-size: 18px !important;
  padding-bottom: 1em;
}

.navbar-burger:hover{
  background-color: unset;
  color: #3f707d;
  cursor: pointer;
}

.home-nav-section{
  min-height: 100vh;
  display: flex;
  align-items: center;
  align-items: stretch;
  overflow: scroll;
  position: sticky;
  top: 0;
}

.home-nav-section .section{
  min-height: 100%;
  display: flex;
  align-items: center;
}

.no-padding .column{
  padding-bottom: 0;
}

.no-padding.columns{
  margin: 0;
}

.no-padding.columns:last-child{
  margin-bottom: 0
}

.big-nav .menu-list li a{
  font-family: 'EB Garamond', serif;
  font-weight: 300;
  font-style: normal;
  font-size: 6rem;
  line-height: 1;
  margin-bottom: 50px;
  color: #202228;
  padding: 0;
  border-radius: none;
  cursor: pointer;
}

.big-nav .menu-list li a:hover{
  font-style: italic;
  text-decoration: underline;
}

.big-nav .menu-list li a.link-small{
  font-size: 3rem;
  margin-bottom: 0;
}

a.big-nav-menu-toggle.is-active{
  text-decoration: underline;
  background-color: unset;
}


.big-nav .menu-list li a:hover{
  background-color: unset;
}

.big-nav-menu{
  background-color: #fff;
  height: 100vh;
  width: 50%;
  padding-bottom: 0;
  right: -50%;
  position: fixed;
  top: 0;
  line-height: 1.2;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.3s ease;
  z-index: 3000;
}

.big-nav-menu.is-active{
  display: block;
  right: 0;

}

.big-nav-menu a.close{
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 30px;
  font-weight: 700;
}

.work-nav h2{
  margin-top: 20px;
}

.work-nav h3{
  font-weight: 700;
  padding-bottom: 0;
  border-bottom: 1px solid #202228;
  margin-bottom: 15px;
  font-size: unset;
  margin-top: 0;
  text-decoration: none;
  font-style: normal;
}

.work-nav a + h3{
  margin-top: 30px !important;
}

.work-nav a{
  margin-bottom: 15px;
  display: block;
}

.work-sidebar{
  position: relative;
  margin-right: 50px;
}

.work-sidebar .section{
  position: sticky;
  top: 10px;
}

.work-sidebar a{
  font-size: 1rem;
  font-weight: 500;
  color: #202228;
}

.work-sidebar h2 a{
  color: #202228;
  font-weight: 700;
  font-size: 1rem;
  display: inline;
}

.work-sidebar h3.date{
  font-size: 1rem;
  margin-top: 20px;
  display: block;
  position: relative;
  cursor: pointer;
}

.work-sidebar h3.date:focus{
  outline: none;
}

.work-sidebar h3.date:after{
  content: '';
  width: 0.5em;
  height: 0.5em;
  transform: rotate(45deg);
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  position: absolute;
  top: 0.125em;
  right: 0.125em;
  transition: all 0.3s ease;
}

.work-sidebar h3.date.ui-accordion-header-collapsed:after{
  transform: rotate(-45deg);
}

.work-sidebar .close{
  display: none;
}

.info .bio{
  max-width: 800px
}

.cv, .info{
  margin-top: 1em;
}

.cv .row{
  display: flex;
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.cv .row.header{
  margin-top: 30px;
}

.cv .row .date{
  width: 15%;
  max-width: 100px;
  text-align: right;
  padding-right: 25px;
}

.cv .row div:nth-child(2){
  width: 100%;
}

.cv h2{
  font-weight: 700;
  font-size: unset;
  margin-bottom: 0;
  text-decoration: underline;
}

/* typography */

h1{
  font-size: 1.5rem;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 5px;
}

h2{
  font-size: 1.15rem;
  font-weight: 200;
  margin-bottom: 10px;
}

h3{
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5em;
  margin-top: 2em;
  text-decoration: underline;
  font-style: italic;
}

h2 + .slide{
  margin-top: 20px;
}

p{
  font-size: 1rem;
  margin-bottom: 1em;
}

h1, h2, figcaption{
  max-width: 800px;
}

/* form */

h3 + .mc-field-group{
  margin-top: 1em;
}

label{
  font-weight: 700;
  margin-bottom: 0.25em;
  display: block;
  font-size: 1.1rem;
}

input{
  max-width: 500px;
  width: 100%;
  display: block;
  margin-bottom: 1em;
  font-size: 1rem;
  padding: 0.5em;
  font-family: 'EB Garamond', serif;
  color: #202228;
  font-weight: 400;
  border: 1px solid #bec3c4;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 2px;
}

input:hover{
  border-color: #aab4b6;
}

input:focus{
  outline: none;
  -webkit-outline: none;
  -moz-outline: none;
  border-color: #3f707d;
}

.button{
  font-family: 'EB Garamond', serif;
  color: #fff;
  border-color: #3f707d;
  background-color: #3f707d;
  font-weight: 700;
  padding: 0.5em;
  font-size: 1rem;
  margin-top: 1em;
  height: auto;
  max-width: 200px;
  transition: background-color 0.3s;
  border-radius: 2px;
}

.button:hover{
  background: none;
  color: #fff;
  border-color: #1a3f49;
  background-color: #1a3f49;
}

a.back-link{
  display: flex;
  align-items: center;
  color: #202228;
  font-size: 0.75em;
}

/* work slides */

figure.slide{
  margin-bottom: 40px;
}

figure.slide img{
  max-height: 85vh;
}

figure.slide figcaption{
  font-size: 1rem;
  font-weight: 200;
  max-width: 1000px;
  margin-top: 5px;
}

/* masonry grid */
.grid-sizer,
.grid-item {
  width: calc(100%/3);
  position: : relative;
}

.grid-item{
  padding: 0.5em;
}

#imagegrid{
  margin: -0.5em;
}

#imagegrid img{
  transition: all 0.3s;
}

#imagegrid img:hover{
  opacity: 50%;
}

/*shop*/

.shop p{
  max-width: 800px;
}

.shop{
  margin-top: 1em;
}

.product-group{
  margin-top: 2em;
  padding-top: 0.25em;
  border-top: 1px solid #202228;
}

.product-grid-wrapper{
  display: flex;
  flex-wrap: wrap;
  margin: -0.5em;
}

.product-grid{
  width: 33.333333%;
  padding: 0.5em;
  display: block;
  cursor: pointer;
  line-height: 0;
  position: relative;
}

.product-grid h2{
  margin-top: 0;
  margin-bottom: 0.1em;
  color: #202228;
}

.product-grid:hover{
  text-decoration: none !important;
}

.product-grid img{
  margin-bottom: 0;
  transition: all 0.3s;
  cursor: pointer;
}

.product-grid:hover img{
  opacity: 50%;
}

.product-grid .button.buy-button{
  margin-top: 0;
}

.product-grid.sold:after{
  content: "Sold";
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  height: calc(100% - 1em);
  width: calc(100% - 1em);
  background-color: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff
}

.product{
  margin-top: 1em;
}

.product h3{
  margin-top: 0;
  margin-bottom: 1em;
  font-style: normal;
  text-decoration: none;
}

.snipcart, .snipcart__font--secondary, .snipcart__font--subtitle, .snipcart-modal__close, .snipcart__actions--link{
  font-family: 'EB Garamond', serif !important;
  font-weight: 400;
}

.snipcart__font--black, .snipcart__font--subtitle{
  font-weight: 700;
}

.snipcart-item-line__title{
  font-weight: 700;
  font-style: italic;
}

.snipcart__font--tiny{
  font-size: 14px;
}

.snipcart-cart__secondary-header{
  background-color: #E9F0F2;
}

.snipcart-item-line__container{
  width: 100%;
}

.snipcart-cart-button{
  color: #fff !important;
  border-color: #3f707d;
  background-color: #3f707d;
  font-weight: 700;
  padding: 0.75em;
  font-size: 18px;
  margin-top: 1em;
  height: auto;
  transition: background-color 0.3s;
  border-radius: 2px;
  background-image: unset !important;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.snipcart-cart-button:hover{
  background: none;
  color: #fff;
  border-color: #1a3f49;
  background-color: #1a3f49;
}

.snipcart__font--xlarge{
  font-size: 18px;
}

.snipcart__actions--link{
  margin-top: 0.5em;
  color:#3f707d;
}

.snipcart__actions--link:hover{
  text-decoration: underline;
}

.snipcart-cart-header{
  padding: 5em 0 1em;
}

.snipcart-form__label{
  font-family: 'EB Garamond', serif;;
}

.snipcart-input,
.snipcart-form__select{
  border: 1px solid #bec3c4;
}

.snipcart-input:focus-within,
.snipcart-textbox--focus{
  border: 1px solid #3f707d;
}

.snipcart-typeahead__suggestions{
  top: unset;
}

.snipcart-form__address-autocomplete--active .snipcart-form__select{
  border: 1px solid #3f707d;
}


.snipcart-cart-summary-fees__total{
  font-weight: 700;
}

.snipcart-cart-header__title,
.snipcart-cart__secondary-header-title {
  font-size: 18px;
}

.snipcart-checkbox:checked+label:before{
  border: 1px solid #3f707d;
  background-color: #3f707d;
}

.snipcart__icon--blue-light path,
.snipcart__icon--blue-dark path{
  fill:#3f707d;
}

.snipcart__box--badge-highlight{
  background: linear-gradient(
90deg
,#3f707d,#1a3f49);
}

.snipcart-typeahead__suggestions{
  border-color: #3f707d;
}

.snipcart-typeahead__suggestion--secondary{
  color: #3f707d;
}

.snipcart-error-message,
.snipcart-shipping-address__subtitle{
  font-weight: 700 !important;
  font-family: 'EB Garamond', serif !important;
  text-decoration: none;
}

button.snipcart-checkout{
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px 20px;
  z-index: 20;
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 14px;
  border: none;
  background-color: unset;
}

/*shopify*/

.shopify-buy-frame .shopify-buy__btn {
  font-family: 'EB Garamond', serif;
  color: #fff;
  border: 1px solid #3f707d;
  background-color: #3f707d;
  font-weight: 700;
  padding: 0.5em;
  font-size: calc(12px + 0.25vw);
  height: auto;
  transition: background-color 0.3s;
  border-radius: 2px;
  -webkit-appearance:initial;
  cursor: pointer;
  width: 100%;
  max-width: 300px;
}

.shopify-buy-frame .shopify-buy__btn:hover{
  background: none;
  color: #fff;
  border-color: #1a3f49;
  background-color: #1a3f49;
}

.shopify-buy-frame .shopify-buy__btn-disabled,
.shopify-buy-frame .shopify-buy__btn-disabled:hover{
  background-color: #cc1414;
  border-color: #cc1414;
  cursor: default !important;
}


.shopify-buy__btn--cart-checkout{
  max-width: 100%;
}

.shopify-buy-frame--toggle.is-sticky{
  top: 0 !important;
  right: 20px !important;
  transform: translateY(0) !important;
  -webkit-transform: translateY(0) !important;
  transform: scale(0.75) !important;
  -webkit-transform: scale(0.75) !important;
  text-align: center;
}

.shopify-buy-cart-wrapper{
  background-color: #fff;
  padding: 2em;
}

.shopify-buy-frame--cart.is-active{
  -webkit-box-shadow: -15px 0px 35px 0px rgba(0,0,0,0.15);
  box-shadow: -15px 0px 35px 0px rgba(0,0,0,0.15);
}

.shopify-buy__btn--close{
  -webkit-appearance:initial;
  border: none;
  background: none;
  font-size: 1.25em;
  position: absolute;
  top: 0;
  left: 5px;

}

.shopify-buy__btn--close:focus{
  outline: 0;
}

.shopify-buy__btn--close:active{
  color: unset;
}

.shopify-buy__btn--close:hover, .shopify-buy__btn--close:active{
  color: #3f707d;
}

.shopify-buy__btn--close span.visuallyhidden{
  display: none;
}

.shopify-buy__cart{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.shopify-buy__cart-scroll{
  flex-grow: 1;
  overflow: scroll;
}

.shopify-buy__cart__title{
  font-weight: 400;
  font-size: 1em;
  padding-bottom: 0;
  margin-bottom: 1em;
  border-bottom: 1px solid #202228;
}

.shopify-buy__cart-item__title{
  font-weight: 700;
  font-style: italic;
  font-size: 0.75em;
}

.shopify-buy__cart-item{
  border-bottom: 1px solid #202228;
  padding-bottom: 1em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.shopify-buy__cart-item:last-child{
  border-bottom: none;
}

.shopify-buy__cart-item__price{
  font-weight: 400;
  font-size: 0.75em;
}

.shopify-buy__quantity-container{
  margin-top: 0.25em;
}

.shopify-buy__cart-item__image{
  width: 60px;
  height: 60px;
  margin-right: 0.5em;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.shopify-buy__cart-item__price-and-discounts{
  flex: 1;
  text-align: right;
}

.shopify-buy__quantity-decrement{
  font-family: 'EB Garamond', serif;
  font-size: 12px;
  outline: none;
  border: none;
  padding: 0.25em 0.5em;
  background-color: #edf1f2;
  color: #202228;
  transition: all 0.3s ease;
  cursor: pointer;
}

.shopify-buy__quantity-decrement:hover{
  background-color: #e4e9eb;
}

.shopify-buy__quantity-decrement:after{
  content: 'x   Remove item from cart'
}

.shopify-buy__quantity-decrement svg,
.shopify-buy__quantity-decrement span.visuallyhidden{
  display: none;
}

.shopify-buy__cart-item__quantity-input{
  display: none;
}

.shopify-buy__quantity-increment{
  display: none;
}

.shopify-buy__cart__subtotal__text{
  margin-bottom: 0.25em;
  font-size: 1em;
}

.shopify-buy__cart__subtotal__price{
  font-weight: 700;
  margin-bottom: 0.5em;
}

.shopify-buy__cart__notice{
  font-size: 0.6em;
  margin-bottom: 1em;
}

.shopify-buy__collection{
  display: none;
}

/* utility */
.mb-1em{
  margin-bottom: 1em;
}

.mb-2em{
  margin-bottom: 2em;
}

.text-bold{
  font-weight: 700;
}

.italic{
  font-style: italic;
}

/* tulip slides */

.tulips-container {
  position: relative;
  display: block;
  aspect-ratio: 2/3;
  max-height: 85vh;
}

.tulip-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation: fade 10s infinite;
  animation: fade 10s infinite;
}

#tulip1 {
  background-image: url('../img/work/2023/doctrine-of-signatures/tulip3.jpg');
  animation-delay: 0ms;
}
#tulip2 {
  background-image: url('../img/work/2023/doctrine-of-signatures/tulip4.jpg');
  animation-delay: 2500ms;
}
#tulip3 {
  background-image: url('../img/work/2023/doctrine-of-signatures/tulip1.jpg');
  animation-delay: 5000ms;
}
#tulip4 {
  background-image: url('../img/work/2023/doctrine-of-signatures/tulip2.jpg');
  animation-delay: 7500ms;
}

#secrets1 {
  background-image: url('../img/work/2023/doctrine-of-signatures/i-keep-my-secrets-4.jpg');
  animation-delay: 0ms;
}
#secrets2 {
  background-image: url('../img/work/2023/doctrine-of-signatures/i-keep-my-secrets-1.jpg');
  animation-delay: 2500ms;
}
#secrets3 {
  background-image: url('../img/work/2023/doctrine-of-signatures/i-keep-my-secrets-2.jpg');
  animation-delay: 5000ms;
}
#secrets4 {
  background-image: url('../img/work/2023/doctrine-of-signatures/i-keep-my-secrets-3.jpg');
  animation-delay: 7500ms;
}

#sensation1 {
  background-image: url('../img/work/2023/doctrine-of-signatures/sensation-4.jpg');
  animation-delay: 0s;
}
#sensation2 {
  background-image: url('../img/work/2023/doctrine-of-signatures/sensation-1.jpg');
  animation-delay: 2500ms;
}
#sensation3 {
  background-image: url('../img/work/2023/doctrine-of-signatures/sensation-2.jpg');
  animation-delay: 5000ms;
}
#sensation4 {
  background-image: url('../img/work/2023/doctrine-of-signatures/sensation-3.jpg');
  animation-delay: 7500ms;
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  34% {
    opacity: 0;
  }
  88% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  34% {
    opacity: 0;
  }
  88% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 1024px){

  h1{
    font-size: 2rem;
  }

  h2{
    font-size: 1.25rem;
  }

  p{
    font-size: 1.1rem;
  }

  figure.slide figcaption{
    font-size: 1.1rem;
  }

  .big-nav .menu-list li a{
    font-size: 8rem;
  }

  .big-nav .menu-list li a.link-small{
    font-size: 4rem;
  }

  .navbar{
    right: auto;
    left: 0;
    background-color: #E9F0F2;
  }
}


@media screen and (max-width: 1024px){
  .work-sidebar{
    position: fixed;
    top: 0;
    right: -50%;
    z-index: 200;
    background-color: #fff;
    width: 100% !important;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.3s ease;
    z-index: 100;
    display: block;
    margin-right: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .work-sidebar.is-active{
    right: 0;
  }

  .work-sidebar .section{
    position: unset;
    width: 100%;
    min-height: 100%;
    padding-top: 1.5em;

  }

  .work-nav-container{
    min-height: 100%;
    display: flex;
    align-items: center;
  }

  .work-sidebar .container.work-nav{
    padding-bottom: 1em;
  }

  .work-sidebar .close{
    display: block;
    position: absolute;
    top: 2%;
    right: 5%;
    font-size: 20px;
  }

  .mobile-work{
    display: flex !important;
  }

  .column.work-sidebar.is-one-fifth + .column{
    padding: 1em 0 0 0;
  }

  figure.slide{
    margin-bottom: 25px;
  }

  /*shop*/

  .product-grid{
    width: 50%;
    padding: 0.5em;
  }

}

@media screen and (max-width: 764px){

  .grid-sizer,
  .grid-item {
    width: calc(100%/2);
  }

  .big-nav .menu-list li a:hover{
    font-style: normal;
    text-decoration: underline;
  }

  .section{
    padding: 3rem 1rem;
  }

  .cv .row .date{
    width: 20%;
    padding-right: 15px;
  }

  .navbar-brand .navbar-item{
    font-size: 16px;
    width: auto;
  }

  .snipcart-cart-header{
    padding: 5em 1em 1em;
  }
}

@media screen and (max-width: 512px){
  /*shop*/

  .product-grid-wrapper{
    display: block;
  }

  .product-grid{
    width: 100%;
    padding: 0.5em;
  }
}
