html{
  scroll-behavior: smooth;
  background-color: #fff;
}

body{
  font-family: 'Granville', serif;
  font-size: 20px;
  line-height: 1.3;
  color: #202228;
}

a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a,
a.navbar-item{
 color: #3f707d;
 transition: all 0.1s;
}

a:hover,
a.navbar-item:hover{
  color: #3f707d;
  text-decoration: underline;
}

a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active{
  background: none;
}


.tulip-bg{
  background-image: url(../img/lubbert-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% center;
  min-height: 100vh;
}

.white-bg{
  background-color: #fff;
}

.navbar{
  position: fixed;
  top: 0;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #E9F0F2;
}

.navbar.home{
  background-color: unset;
  position: fixed;
}
.navbar-brand .navbar-item{
  font-family: Granville, serif;
  font-weight: 700;
  font-style: normal;
  color: #202228;
  font-size: 20px;
  width: 7.1em;
}

.navbar-brand .navbar-item:hover{
  color: unset;
  font-style: italic;
}

.navbar-menu{
  justify-content: flex-start;
}

.navbar-menu.is-active{
  background-color: unset;
  box-shadow: none;
  padding: 0;
}

.navbar-menu .navbar-item{
  font-size: 14px;
}

.mobile-work{
  font-size: 14px !important;
  font-weight: 400 !important;
  display: none !important;
}

.mobile-work.home{
  font-size: 18px !important;
  padding-bottom: 1em;
}

.navbar-burger:hover{
  background-color: unset;
  color: #3f707d;
  cursor: pointer;
}

.home-nav-section{
  min-height: 100vh;
  display: flex;
  align-items: center;
  align-items: stretch;
  overflow: scroll;
  position: sticky;
  top: 0;
}

.home-nav-section .section{
  min-height: 100%;
  display: flex;
  align-items: center;
}

.no-padding .column{
  padding-bottom: 0;
}

.no-padding.columns{
  margin: 0;
}

.no-padding.columns:last-child{
  margin-bottom: 0
}

.big-nav .menu-list li a{
  font-family: Granville, serif;
  font-weight: 300;
  font-style: normal;
  font-size: calc(80px + 3vw);
  line-height: 1;
  margin-bottom: 50px;
  color: #202228;
  padding: 0;
  border-radius: none;
  cursor: pointer;
}

.big-nav .menu-list li a:hover{
  font-style: italic;
  text-decoration: underline;
}

a.big-nav-menu-toggle.is-active{
  text-decoration: underline;
  background-color: unset;
}


.big-nav .menu-list li a:hover{
  background-color: unset;
}

.big-nav-menu{
  background-color: #fff;
  height: 100vh;
  width: 50%;
  padding-bottom: 0;
  right: -50%;
  position: fixed;
  top: 0;
  line-height: 1.2;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.3s ease;
  z-index: 100;
}

.big-nav-menu.is-active{
  display: block;
  right: 0;

}

.big-nav-menu a.close{
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 30px;
  font-weight: 700;
}

.work-nav h2{
  margin-top: 20px;
}

.work-nav h3{
  font-weight: 700;
  padding-bottom: 0;
  border-bottom: 1px solid #202228;
  margin-bottom: 15px;
  font-size: unset;
  margin-top: 0;
  text-decoration: none;
  font-style: normal;
}

.work-nav a + h3{
  margin-top: 30px !important;
}

.work-nav a{
  margin-bottom: 15px;
  display: block;
}

.work-sidebar{
  position: relative;
  margin-right: 50px;
}

.work-sidebar .section{
  position: sticky;
  top: 10px;
}

.work-sidebar a{
  font-size: 14px;
}

.work-sidebar h2 a{
  color: #202228;
  font-weight: 700;
  font-size: 16px;
  display: inline;
}

.work-sidebar h3.date{
  font-size: 14px;
  margin-top: 20px;
}

.work-sidebar .close{
  display: none;
}

.info .bio{
  max-width: 800px
}

.cv, .info{
  margin-top: 1em;
}

.cv .row{
  display: flex;
  margin-bottom: 10px;
  font-size: 18px;
}

.cv .row.header{
  margin-top: 30px;
}

.cv .row .date{
  width: 15%;
  max-width: 100px;
  text-align: right;
  padding-right: 25px;
}

.cv .row div:nth-child(2){
  width: 100%;
}

.cv h2{
  font-weight: 700;
  font-size: unset;
  margin-bottom: 0;
  text-decoration: underline;
  font-style: italic;
}

/* typography */

h1{
  font-size: calc(20px + 1vw);
  font-weight: 700;
  font-style: italic;
  margin-bottom: 5px;
}

h2{
  font-size: calc(14px + 0.5vw);
  font-weight: 200;
  margin-bottom: 10px;
}

h3{
  font-size: calc(16px + 0.25vw);
  font-weight: 700;
  margin-bottom: 0.5em;
  margin-top: 2em;
  text-decoration: underline;
  font-style: italic;
}

h2 + .slide{
  margin-top: 20px;
}

p{
  font-size: calc(14px + 0.5vw);
  margin-bottom: 1em;
}

h1, h2, figcaption{
  max-width: 800px;
}

/* form */

h3 + .mc-field-group{
  margin-top: 1em;
}

label{
  font-weight: 700;
  margin-bottom: 0.25em;
  display: block;
  font-size: calc(12px + 0.25vw);
}

input{
  max-width: 500px;
  width: 100%;
  display: block;
  margin-bottom: 1em;
  font-size: calc(12px + 0.25vw);
  padding: 0.5em;
  font-family: Granville, serif;
  color: #202228;
  font-weight: 400;
  border: 1px solid #bec3c4;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 2px;
}

input:hover{
  border-color: #aab4b6;
}

input:focus{
  outline: none;
  -webkit-outline: none;
  -moz-outline: none;
  border-color: #3f707d;
}

.button{
  font-family: 'Granville', serif;
  color: #fff;
  border-color: #3f707d;
  background-color: #3f707d;
  font-weight: 700;
  padding: 0.5em;
  font-size: calc(12px + 0.25vw);
  margin-top: 1em;
  height: auto;
  max-width: 200px;
  transition: background-color 0.3s;
  border-radius: 2px;
}

.button:hover{
  background: none;
  color: #fff;
  border-color: #1a3f49;
  background-color: #1a3f49;
}

/* work slides */

figure.slide{
  margin-bottom: 40px;
}

figure.slide img{
  max-height: 85vh;
  margin-bottom: 5px;
}

figure.slide figcaption{
  font-size: calc(12px + 0.5vw);
  font-weight: 200;
  max-width: 1000px;
}

/* masonry grid */
.grid-sizer,
.grid-item {
  width: calc(100%/3);
  position: : relative;
}

.grid-item{
  padding: 0.5em;
}

#imagegrid{
  margin: -0.5em;
}

#imagegrid img{
  transition: all 0.3s;
}

#imagegrid img:hover{
  opacity: 50%;
}

/*shop*/

.shop p{
  max-width: 800px;
}

.shop{
  margin-top: 1em;
}

.product-group{
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid #202228;
}

.product-grid-wrapper{
  display: flex;
  flex-wrap: wrap;
  margin: -0.5em;
}

.product-grid{
  width: 33.333333%;
  padding: 0.5em;
  display: block;
  cursor: pointer;
  line-height: 0;
}

.product-grid h2{
  margin-top: 0;
  margin-bottom: 0.1em;
  color: #202228;
}

.product-grid:hover{
  text-decoration: none !important;
}

.product-grid img{
  margin-bottom: 0;
  transition: all 0.3s;
  cursor: pointer;
}

.product-grid:hover img{
  opacity: 50%;
}

.product-grid .button.buy-button{
  margin-top: 0;
}

.product{
  margin-top: 1em;
}

.product h3{
  margin-top: 0;
  margin-bottom: 1em;
  font-style: normal;
  text-decoration: none;
}

.snipcart__font--secondary, .snipcart__font--subtitle, .snipcart-cart-summary-fees__item.snipcart__font--slim, .snipcart-item-quantity__label.snipcart__font--tiny, .snipcart__font--std, legend{
  font-family: 'Granville', serif !important;
}

.snipcart__font--tiny{
  font-size: 14px;
}

.snipcart-cart__secondary-header{
  background-color: #E9F0F2;
}

.snipcart-item-line__container{
  width: 100%;
}

.snipcart-cart-button{
  font-family: 'Granville', serif;
  color: #fff !important;
  border-color: #3f707d;
  background-color: #3f707d;
  font-weight: 700;
  padding: 0.75em;
  font-size: 18px;
  margin-top: 1em;
  height: auto;
  transition: background-color 0.3s;
  border-radius: 2px;
  background-image: unset !important;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.snipcart-cart-button:hover{
  background: none;
  color: #fff;
  border-color: #1a3f49;
  background-color: #1a3f49;
}

.snipcart__font--xlarge{
  font-size: 18px;
}

.snipcart__actions--link{
  margin-top: 0.5em;
  color:#3f707d;
  font-family: 'Granville', serif;
}

.snipcart__actions--link:hover{
  text-decoration: underline;
}

.snipcart-cart-header{
  padding: 5em 0 1em;
}

.snipcart-form__label{
  font-family: 'Granville', serif;;
  font-weight: 400;
}

.snipcart-input,
.snipcart-form__select{
  border: 1px solid #bec3c4;
}

.snipcart-input:focus-within,
.snipcart-textbox--focus{
  border: 1px solid #3f707d;
}

.snipcart-typeahead__suggestions{
  top: unset;
}

.snipcart-form__address-autocomplete--active .snipcart-form__select{
  border: 1px solid #3f707d;
}

.snipcart__font--std.snipcart-item-description,
.snipcart-item-quantity__label,
.snipcart-modal__close-title,
.snipcart-cart-header__count,
.snipcart-item-quantity__label,{
  font-weight: 400 !important;
}

.snipcart-cart-summary-fees__total{
  font-weight: 700;
}

.snipcart-cart-header__title,
.snipcart-cart__secondary-header-title {
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
}

.snipcart__icon--blue-light path,
.snipcart__icon--blue-dark path{
  fill:#3f707d;
}

.snipcart__box--badge-highlight{
  background: linear-gradient(
90deg
,#3f707d,#1a3f49);
}

.snipcart-typeahead__suggestions{
  font-family: 'Granville', serif;
  font-weight: 400;
  border-color: #3f707d;
}

.snipcart-typeahead__suggestion--secondary{
  color: #3f707d;
}

.snipcart-error-message,
.snipcart-shipping-address__subtitle{
  font-weight: 700 !important;
  font-family: 'Granville', serif !important;
  text-decoration: none;
}

button.snipcart-checkout{
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px 20px;
  z-index: 20;
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 14px;
  border: none;
  background-color: unset;
}

/* utility */
.mb-1em{
  margin-bottom: 1em;
}

.text-bold{
  font-weight: 700;
}

@media screen and (min-width: 1024px){

  h1{
    font-size: 30px;
  }

  h2{
    font-size: 18px;
  }

  p{
    font-size: 18px;
  }

  figure.slide figcaption{
    font-size: 16px;
  }
}


@media screen and (max-width: 1024px){
  .work-sidebar{
    position: fixed;
    top: 0;
    right: -50%;
    z-index: 200;
    background-color: #fff;
    width: 100% !important;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.3s ease;
    z-index: 100;
    display: block;
    margin-right: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .work-sidebar.is-active{
    right: 0;
  }

  .work-sidebar .section{
    position: unset;
    width: 100%;
    min-height: 100%;
    padding-top: 1.5em;

  }

  .work-nav-container{
    min-height: 100%;
    display: flex;
    align-items: center;
  }

  .work-sidebar .container.work-nav{
    padding-bottom: 1em;
  }

  .work-sidebar .close{
    display: block;
    position: absolute;
    top: 2%;
    right: 5%;
    font-size: 20px;
  }

  .mobile-work{
    display: flex !important;
  }

  .column.work-sidebar.is-one-fifth + .column{
    padding: 1em 0 0 0;
  }

  figure.slide{
    margin-bottom: 25px;
  }

  /*shop*/

  .product-grid{
    width: 50%;
    padding: 0.5em;
  }

}

@media screen and (max-width: 764px){

  .grid-sizer,
  .grid-item {
    width: calc(100%/2);
  }

  .big-nav .menu-list li a:hover{
    font-style: normal;
    text-decoration: underline;
  }

  .section{
    padding: 3rem 1rem;
  }

  .cv .row .date{
    width: 20%;
    padding-right: 15px;
  }

  .navbar-brand .navbar-item{
    font-size: 16px;
    width: auto;
  }

  .snipcart-cart-header{
    padding: 5em 1em 1em;
  }
}

@media screen and (max-width: 512px){
  /*shop*/

  .product-grid-wrapper{
    display: block;
  }

  .product-grid{
    width: 100%;
    padding: 0.5em;
  }
}
