<!DOCTYPE html>
<html>
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LBRWY0SJ24"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LBRWY0SJ24');
</script>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title }}</title>
<link rel="apple-touch-icon" sizes="180x180" href="/assets/sprites/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/sprites/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/sprites/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

<link rel="stylesheet" href="https://use.typekit.net/scd1tgp.css">

<link rel="stylesheet" type="text/css" href="/assets/css/bulma.css">

<link rel="stylesheet" type="text/css" href="/assets/css/custom.css">

<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">


</head>
<body>


{{ content }}

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/assets/js/nav.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15/dist/smooth-scroll.polyfills.min.js"></script>

 <script>
  var $images = $('.grid-item');
  $images.hide();

  var $grid = $('.grid');
  $grid.imagesLoaded( function() {
    $images.fadeIn();

    $grid.masonry({
      // options
      itemSelector: '.grid-item'
    });
  });
</script>

<script>
  var scroll = new SmoothScroll('a[href*="#"]');
</script>

<script>
  $( function() {
    $( ".nav-accordion" ).accordion({
      heightStyle: "content",
      animate: 300
    });
  } );
</script>

<div hidden id="snipcart" data-api-key="MTdiY2Q0YmYtNjU4MC00YjVjLTlhYjctNGFkZmYyOGU4NWIzNjM3NTEyNzg0OTY1OTA4MTM5"
     data-config-modal-style="side"></div>

</body>
</html>