---
layout: default
---

<nav class="navbar home" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        Nicki Cherry
      </a>
    </div>
  </nav>

  <div class="columns home-nav-section no-padding tulip-bg">
    <div class="column">
      <section class="section">
        <div class="container">
          <aside class="menu big-nav">
            <ul class="menu-list">
              <li><a href="#work"> Work </a></li>
              <li><a href="cv.html"> CV </a></li>
              <li><a href="info.html"> Info </a></li>
              <li>
                <a class="link-small" href="http://instagram.com/nicki__cherry/" target="_blank" rel="noopener noreferrer"> Instagram </a>
              </li>
            </ul>
          </aside>
        </div>
      </section>
    </div>
  </div>

  <div class="columns is-relative white-bg no-padding" id="work">
    {% include work.html %}
    <div class="column">
      <div class="container">
        <a role="button" class="mobile-work home">
          Navigate work 🌷
        </a>
          {{ content }}
     </div>
   </div>
 </div>